.pie-chart-wrapper {
  width: 445px;
  height: 344px;
  background: white;
  margin-top: 21px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__header {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px 16px 24px;
    margin-bottom: 16px;
    border-bottom: 1px solid #ebeff2;

    &-task-heading {
      margin: 0;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      letter-spacing: 0.01em;
      color: #192a3e;
    }

    &-select-wrap {
      display: flex;
      flex-direction: row;
      align-items: center;

      &__heading {
        margin: 0;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.01em;
        color: #6a707e;
      }

      .ant-select-selection-item {
        margin: 0;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.01em;
        color: #109cf1;
      }
    }
  }

  &__body {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &-pie-chart {
      width: 50%;
      height: 224px;
    }

    &-options {
      display: flex;
      flex-direction: column;
      margin-left: 35px;

      &__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 12px;

        &-tag {
          margin: 0;
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 10px;
          line-height: 15px;
          letter-spacing: 0.01em;
          color: #192a3e;
          margin-left: 8px;
        }

        &-unpaid-option,
        &-paid-option,
        &-canceled-option {
          width: 8px;
          height: 8px;
          background: #ffffff;
          border-radius: 8px;
        }
        &-unpaid-option {
          border: 2px solid #f7685b;
        }

        &-paid-option {
          border: 2px solid #2ed47a;
        }

        &-canceled-option {
          border: 2px solid #ffb946;
        }
      }
    }
  }
}
