.wallet-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1101px;
  min-width: 1101px;
  min-height: 102px;
  background: white;

  .divider {
    width: 87px;
    height: 0px;
    border: 1px solid #f0f0f0;
    transform: rotate(90deg);
  }
}
