.edit-booking-form {
  &__container {
    padding: 0 25px 0 25px;

    &-input-fields {
      display: flex;
      flex-direction: column;

      .ant-col.ant-form-item-label {
        text-align: start !important;

        label {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 500;
          font-size: 11px;
          line-height: 16px;
          letter-spacing: 0.01em;
          color: #109cf1 !important;
        }
        .ant-form-item-required::before,
        ::after {
          display: none;
        }
      }
      .ant-input {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #323c47;
        border: 0;
        border-bottom: 1px solid #818e9b;
      }

      .ant-input-password {
        border: 0;
        border-bottom: 1px solid #818e9b;
      }
      .ant-picker {
        width: 100%;
        border: 0;
        border-bottom: 1px solid #818e9b;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #323c47;

        .ant-picker-suffix {
          color: #109cf1;
        }
      }

      .ant-select {
        width: 100%;
        border: 0;
        border-bottom: 1px solid #818e9b;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #323c47;

        .ant-select-selector {
          border: 0;
        }
      }
    }

    &-actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0 25px 0 25px;

      &__add-booking-btn {
        background: #109cf1;
        width: 160px;
        height: 42px;
        box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
        border-radius: 4px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;

        text-align: center;
        letter-spacing: 0.01em;

        color: #ffffff;
      }

      &__checkout-btn {
        background: #ffffff;
        width: 160px;
        height: 42px;
        border-radius: 4px;
        border: 1px solid #109cf1;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;

        text-align: center;
        letter-spacing: 0.01em;

        color: #109cf1;

        &:focus,
        &:hover {
          color: #109cf1;
          background: #ffffff;
          box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
          border: 1px solid #109cf1;
        }

        &:active {
          color: #109cf1;
          background: #ffffff;

          border: 1px solid #109cf1;
        }
      }
    }
  }

  .booking-details-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
    &__checkout {
      width: 160px;
      height: 42px;
      background: #109cf1;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.01em;
      color: #ffffff;
      box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
      border-radius: 4px;
    }

    &__cancel {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.01em;
      color: #f7685b;
      border: 1px solid #f7685b;
      border-radius: 4px;
      width: 160px;
      height: 42px;
      background: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }
}
