.schedule-calendar-wrapper {
  .rbc-toolbar {
    background: #ffffff;
    min-height: 102px;
    padding: 0 20px;
    border-radius: 4px;
    margin-bottom: 0px;
  }

  .rbc-month-view,
  .rbc-time-view {
    background: white;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    min-height: 744px;
  }

  .rbc-header {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;

    color: #323c47;
  }

  .rbc-date-cell {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;

    color: #323c47;
  }
}
